/*Обнуление*/
*
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{text-decoration: none;}

ul,
ol,
li{
    list-style: none;
}

img{vertical-align: top;}

h1,
h2,
h3, 
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html, 
body{
    min-height: 100%;

}
html{
    -webkit-text-size-adjust: 100%;
}


body{
    font-family: Roboto, sans-serif;
    background-color: #171717;
    color: #fff;
    font-size: 100%;
    line-height: 1.625em;
}

h1{
    font-weight: 700;
    font-size: 200%;
}

a{
    color: #fff;
}
/*---main---*/

.wrapper{
    display: block;
    width: 1170px;
    max-width: 100%;
    min-height: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0em;
    padding-bottom: 0em;
}
header{
    opacity: 1; 
    transition: opacity 500ms ease 0s;
}
.header {
    margin-bottom: 5.1em;
    padding-top: 3.25em;
    padding-bottom: 0em;
}
link.icon-title{
    width: 128px;
}
/*--------------------logo-------------------*/
.column-logo{
    display: block;
    font-size: 150%;
    max-width: 100%;
}

.column {
    padding-right: 1.625em;
    padding-left: 1.625em;
}

.w-col-6 {
    width: 50%;
}


/*--------------------logo-------------------*/
.column-email{
    display: block;
    text-align: right;
    font-size: 150%;
    max-width: 100%;
}


.main-content-area{
    display: block;
}

.content-container {
    max-width: 100%;
    min-height: 20px;
 }
.column-logo{
    position: relative;
    float: left;
    min-height: 1px;
    width: 50%;
}
.column-email{
    position: relative;
    float: right;
    min-height: 1px;
    width: 50%;
}


.content-container{
    position: relative;
    max-height: 500px;
}
.column-left {
    float: left;
    max-width: 50%;
    max-height: 100px;
    font-size: 400;
    letter-spacing: 0.1em;
 }

.column-right{
    float: right;
    max-width: 350px;
}
.column-right img{
   border-radius: 10px;
   max-width: 100%;
   height: auto;
   text-align: center;
}
.navigation-container{
    position: relative;
    max-height: 220px;
    width: 50%;
    padding-top: 25%;
    display: block;
}
.nav{
 padding-left: 0;
  
}
.nav-item{
    padding-top: 10px;
}

.footer-container{
    display: block;
    padding-left: 0px;
    max-height: 500px;
}
.social-contacts{
    padding-top: 200px;
    padding-left: 0;
}
.social-contacts-item{
    font-size: 36px;
    float: left;
    padding-right: 16px;
    
}
i{
   color: grey;
}
i:hover{
    color:white;
}
li{
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
    transition-duration: 1s;
}
@media screen and (max-width: 1000px) {
    .wrapper {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  /*------media-querries-------*/
  @media (max-width: 991px) {
    body {
        font-size: 87.5%;
    }

    .wrapper {
        width: 48em;
    }

    .column {
        padding-right: 0.8125em;
        padding-left: 0.8125em;
    }



    .intro-statement {
        font-size: 1.4375em;
        line-height: 1.41304348em;
    }

    .post-snippet-wrapper {
        height: 18em;
    }
}

  @media (max-width: 767px) {
    .wrapper {
        width: 38em;
    }

    .header {
        margin-bottom: 4.875em;
    }

    .footer-home {
        bottom: 0em;
        margin-top: 1.625em;
    }

    .inner-page-navigation {
        margin-bottom: 1.625em;
    }

    .inner-page-footer.main-content-area {
        margin-top: 3.25em;
    }

    .project-description {
        margin-bottom: 3.25em;
    }

    .resume-link {
        display: inline-block;
        margin-bottom: 3.25em;
    }
}

  @media (max-width: 479px) {
    .wrapper {
        width: 23em;
    }

    .header-right {
        text-align: left;
    }

    .header-link {
        display: inline-block;
        margin-top: 0.8125em;
        margin-left: 0em;
    }
}